.landing-title-wrapper {
	background-color: #2f2f2f;
}

.landing-title { 
	font-size: 4em;
	padding: .5em .5em;
	margin: 0;
	color: #FFF;
}

.landing-subtitle-wrapper {
	display: table;
	width: 100%;
	vertical-align: top;
	background-color: #DDD;
}

.landing-logo-wrapper {
	display: table-cell;
	vertical-align: top;
	width: 150px;
}

.landing-logo {
	width: 100%;
}

.landing-description-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.landing-description {
	color: #2f2f2f;
	font-size: 1.5em;
	padding: .75em 0em;
}

.landing-recently-featured {
	margin: 4em 0em;
}
